/*Global-S*/
*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #eee;
  overflow-x: hidden !important;
}

body{
  width: 100%;
  height: 100%;
  background: url("../img/sitebg.jpg") no-repeat center fixed;
  background-color: #929496;
  background-size: cover;
  overflow-x: hidden !important;
}
section{
  padding: 6rem 0;
  overflow-x: hidden !important;
}

a{
  text-decoration: none;
  color: #eee;
}

p{
  font-size: 2.4rem;
  font-weight: 300;
  padding: 10px;
  background:#f2f3f5;
  color:black;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

img{
  width: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*Global-E*/

/*reuse*/
.container{
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading{
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1{
  font-size: 3.5rem;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;

}

.section-heading h1::before,
.section-heading h1::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #56ab2f, #a8e063);
}

.section-heading h1::before{
  width: 10rem;
  height: 3px;
  border-radius: .8rem;
}


.section-heading h6{
  font-size: 1.6rem;
  font-weight: 300;
}

.has-margin-right{
  margin-right: 5rem;
}



/*reuse*/




/*header-S*/
header{
  width: 100%;
  height: 100vh;
  overflow-x: hidden !important;
}

.top-nav{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 50;
  background: linear-gradient(to right, #000000, #434343);
}

.nav-list{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  margin: 0 2rem;
}

.nav-link{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 5rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
  background: linear-gradient(to right, #56ab2f, #a8e063);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.top-nav.open{
  top: 0;
  border-radius: initial;
}



.hamburger{
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 7rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  outline: none;
}
.hamburger-inner{
    background: linear-gradient(to right, #56ab2f, #a8e063);
}
.hamburger-inner::after{
    background: linear-gradient(to right, #56ab2f, #a8e063);
}
.hamburger-inner::before{
    background: linear-gradient(to right, #56ab2f, #a8e063);
}


.landing-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.landing-text h1{
  font-size: 11rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: linear-gradient(to right, #56ab2f, #a8e063);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6{
  font-size: 2rem;
  font-weight: 300;
}


/*header-E*/

/*about-s*/
.about .container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(33, 35, 38, 0.9);
}


.profile-img{
  flex: 1;
  margin-right: 5rem;
}

.about-details{
  flex: 1;
}

.social-media{
  margin-top: 5rem;
}
.social-media i{
  font-size: 5rem;
  transition: color 650ms;
}

.fa-facebook-square:hover{
  color: #4267b2;
}

.fa-instagram:hover{
  color: #ea4c89;
}
.fa-linkedin:hover{
  color: #94b5eb;
}


/*about-E*/


/*service-S*/
.skills .container{
  padding: 20px;
  background: rgba(33, 35, 38, 0.9);
}

.my-skills{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: center;
  grid-gap: 2.5rem;
  text-align: center;
}


.skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}

.icon-container{
  width: 20rem;
  height: 20rem;
  background: #f2f3f5;
  margin-bottom: 2rem;
  display: flex;
}

.icon-container i{
  color: #2c2f33;
  font-size: 12rem;
  margin: auto;
}
/*service-E*/

/*portfolio-S*/
.portfolio .container{
  background: rgba(33, 35, 38, 0.9);
  padding: 20px;
}

.portfolio-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.portfolio-item:last-child{
  margin-bottom: 0;
}

.portfolio-img{
  flex: 1;
}

.portfolio-description{
  flex: 1;
}


.portfolio-description h6{
  font-size: 2rem;
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color:#6cf23f;
}

.portfolio-description h1{
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description .cta{
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #6cf23f;
  padding: 5px;
  background: #404245;
  transition: color 650ms;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.portfolio-description .cta:hover{
  color: #2f67cd;
}

/*portfolio-E*/


/*timeline-S*/
/*
.dte{
  display: none;
  font-size: 1.6rem;
  font-weight: 300;
}
.timeline p{
  margin-top: 5px;
}
.experience .container{
  padding: 20px;
  background: rgba(33, 35, 38, 0.9);

}
.timeline ul{
  border-left: 4px solid #6cf23f;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
}

.timeline .date{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.timeline .date:last-of-type{
  padding-bottom: 0;
  margin-bottom: 0;
  border:none;
}

.timeline .date::before,
.timeline .date::after{
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before{
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}


.timeline .date::after{
  content: "";
  box-shadow: 0 0 0 4px #6cf23f;
  border-radius: 100%;
  left: -8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color:#313534;
}
*/
/*timeline-E*/

/*contact-S*/
.contact{
  background: linear-gradient(to right, #000000, #434343);
}

form{
  width: 70%;
  margin: 0 auto;
}

form label{
  font-size: 1.5rem;
}

input,
select,
textarea{
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: #eb0000;
}

input[type="submit"]{
  width: initial;
  background: #f2f3f5;
  color: #221e3f;
  padding: 1rem 2rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: background-color 650ms;
}

input[type="submit"]:hover{
  background: linear-gradient(to right, #56ab2f, #a8e063);
}
/*contact-E*/

/*footer-S*/
.copyright{
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #000000, #434343);
  padding: 2rem 0;
  position: relative;
}



.up{
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  animation: pulse 2s infinite;
  cursor: pointer;
  background: linear-gradient(to right, #ece9e6, #ffffff);
}

.up i{
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

.copyright p{
  font-size: 1.4rem;
  box-shadow: none;
  background: none;
  color:#6cf23f;
}
/*footer-E*/

/*animation-S*/
@keyframes pulse {
  0%{
    box-shadow: 0 0 0 0 rgba(108, 242, 63, 0.99);
  }
  70%{
    box-shadow: 0 0 0 2rem rgba(108, 242, 63, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(108, 242, 63, 0);
  }

}




/*animation-E*/

/*media queries*/

@media screen and (max-width : 768px) {
  .dte{
    display: block;
  }
  body{
    background: url("../img/sitebg2.jpg");
    background-color: #929496;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }

  .landing-text h1{
    font-size: 15rem;
  }

  .landing-text h6{
    font-size: 2.5rem;
  }

  .nav-list{
    flex-direction: column;
  }

  li{
    margin: 2rem 0;
  }

  .nav-link{
    font-size: 4.5rem;
  }

  .about-heading h1{
    font-size:  8rem;
  }

  .section-heading h1{
    font-size: 3rem;
  }

  .about-details .nav-list{
    flex-direction: initial;
  }

  .about-details li{
    margin: 0 2rem;
  }
  .icon-container{
    width: 15rem;
    height: 15rem;
  }

  .icon-container i{
    font-size: 8rem;
  }

  .timeline ul{
    margin: 0;
    padding-right: 0;
    width: 100%;
  }
  .timeline p{

  }

  .timeline .container{
    padding:0;
  }

  .timeline .date::before{
    display: none;
  }

  .timeline .date::after{
    left: -5.9rem;
  }
}

@media screen and (max-width:600px) {
  .hamburger{
    top: .5rem;
    right: .5rem;
  }
  .landing-text h1{
    font-size: 8rem;
  }
  .landing-text h6{
    font-size: 1.4rem;
  }
  .nav-link{
    font-size: 3.5rem;
  }
  .about .container{
    flex-direction: column;
  }

  .profile-img{
    margin: 0 0 7rem 0;
  }

  .portfolio-item{
    flex-direction: column;
  }

  .portfolio-img{
    margin: 0 0 2rem 0;
    order:1;
  }

  .portfolio-description{
    margin: 0;
    order: 2;
  }

  p{
    font-size: 2.2rem;
  }

  .timeline .date::before{
    font-size: 1.4rem;
  }

  form{
    width: 100%;
  }
  .up{
    right: 2rem;
  }
}

/*loadscreen*/
.loader-wrapper {
  z-index: 1600;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000000, #434343);
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #6cf23f;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #6cf23f;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
